@import url(fonts/fonts.css);
/*-----------------------------------------------------------------------------
GENERAL STYLES
-----------------------------------------------------------------------------*/
body{
  background: #F3F3F3;
  width:100%;
  height: 100%;
}

.left-sidebar{
  height:500px;
}

.main-content{
  height:500px;
}

.right-sidebar {
  height:500px;
}

/*scrollbars*/
::-webkit-scrollbar
{
  width: 7px;  /* for vertical scrollbars */
  height: 7px; /* for horizontal scrollbars */
  border-radius: 5px;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}


/*-----------------------------------------------------------------------------
GENERAL STYLES - END
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
POP-UP STYLES
-----------------------------------------------------------------------------*/
.induccion-popup .modal-dialog {
    width: 75%;
    margin: 30px auto;
}

.induccion-popup .modal-content{
  border-radius: 0px;
}

.induccion-popup .modal-header{
  border-bottom: none;
}

.induccion-popup .close {
    float: right;
    font-size: 21px;
    font-weight: normal;
    line-height: 1;
    color: #000;
    text-shadow: 0 0 0 #fff;
    opacity: .4;
}

.induccion-popup .modal-header .close {
    margin-top: -2px;
    background-color: #000;
    color: #FFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.induccion-popup .modal-title-img{
  display: inline-block;
  vertical-align: middle;
}

.induccion-popup .modal-title{
  display: inline-block;
  vertical-align: bottom;
  font-family:'Univers Bold';
  font-size: 13pt;
  color:#006286;
  text-transform: uppercase;
}


/*-----------------------------------------------------------------------------
INDUCCION
-----------------------------------------------------------------------------*/

.left-module.induccion{
  width: 100%;
}

.induccion .left-module-title {
  font-family:'Univers Condensed Bold';
  font-size:12px;
  color: #FFF;
  background-color: #006286;
  padding: 10px;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,.2);
  margin-bottom: 10px;
}

.induccion .induccion-list{
  background-color: #008AC6;
  list-style: none;
  padding: 10px;
  text-transform: uppercase;
}

.induccion .induccion-item{
 font-family:'Univers Condensed Bold';
 background-color:#FFF;
 font-size: 12px;
 color: #006286;
 margin-bottom: 2px;
 padding: 5px;
 padding-top: 7px;
 cursor: pointer;
}


.induccion .induccion-item img{
  float: right;
  right: 5px;
}

/*-----------------------------------------------------------------------------
INDUCCION - END
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
VIDEO-POPUP
-----------------------------------------------------------------------------*/
.induccion-popup .modal-content video{
  width: 100%;
  height: 100%;
}
